@import 'https://www.nerdfonts.com/assets/css/webfont.css';
@import "../themes/macchiato.css";

i {
  color: var(--sapphire);
  margin-right: 7px;
}

body {
  color: var(--text);
  background: rgba(1, 0, 0, 0);
  font-family: ui-monospace, monospace;
  font-size: 12px;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
}

html,
body {
  height: 100%;
}

#root {
  height: calc(100% - 8px);
  border-bottom: 1px solid var(--surface0);
  background: var(--crust);
  border-radius: 8px;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 4px 1.5vw;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

.logo,
.binding-mode,
.tiling-direction,
.network,
.memory,
.cpu,
.battery {
  margin-right: 20px;
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  background: var(--surface0);
  margin-right: 4px;
  padding: 4px 8px;
  color: var(--subtext0);
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &.displayed {
    background: var(--surface0);
  }

  &.focused,
  &:hover {
    color: var(--base);
    border-bottom: 1px solid var(--maroon);
    background: var(--sapphire);
  }
}

.binding-mode,
.tiling-direction {
  border-radius: 2px;
  line-height: 1;
  padding: 4px 8px;
  border: 0;
  cursor: pointer;
}

.tiling-direction {
  background: var(--surface1);
  color: var(--text);
}

.binding-mode {
  background: var(--yellow);
  color: var(--base);
}

.binding-mode {
  margin-right: 4px;
}

.cpu .high-usage {
  color: var(--red);
}

.battery {
  position: relative;
}

.battery .charging-icon {
  position: absolute;
  font-size: 7px;
  left: -8px;
  top: 3px;
}
